
    .form-control {
        border-radius: 15px;
    }
    .bg1 {
        background:  linear-gradient(to bottom right, #b1b1b2, #9b9898);
        color: #fff;
    }
    .p6t{
        padding-top: 70px;
    }
    .bc1{
        color: #36b9fa;
    }