@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    .form-control {
        border-radius: 15px;
    }
    .bg1 {
        /* background:  linear-gradient(to bottom right, #b1b1b2, #9b9898);
        color: #fff; */
        background-color: #EBEBEB;
    }
    .p6t{
        padding-top: 70px;
    }
    .bg1 h3{
        color: #42A1EB !important;
        font-family: "Urbanist", sans-serif;
    }